<div class="max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-10">
  <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Administração</h2>

  <div class="backup-container flex flex-col flex-wrap items-start gap-2">
    <h2>Backup do Banco de Dados</h2>
    
    <button (click)="downloadJSON()" class="btn btn-primary bg-gray-500 rounded-full p-2">
      Baixar Backup (JSON)
    </button>
    
    <button (click)="downloadExcel()" class="btn btn-success bg-green-500 rounded-full p-2">
      Baixar Backup (Excel)
    </button>
  </div>
  

  <div class="text-center">
    <input type="file" (change)="onFileSelected($event)"
      class="mb-4 border border-gray-300 p-2 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-yellow-500" />
    <br />
    <button
      class="ml-2 px-6 py-3 bg-yellow-500 text-white font-semibold rounded-lg shadow-md hover:bg-yellow-600 transition duration-200"
      (click)="addUsersToDb(json)">
      Atribuir Números
    </button>
  </div>



  <div class="mt-6">
    <label for="lotteryNumbers" class="block text-gray-700">Insira os 10 números sorteados (separados por
      vírgula):</label>
    <input type="text" id="lotteryNumbers" [(ngModel)]="lotteryNumbersInput" placeholder="Ex: 1234, 6789, 0123, ..."
      class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-md" />
  </div>
  <div class="text-center mt-6">
    <button
      class="px-6 py-3 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-600 transition duration-200"
      (click)="insertLotteryNumbers()">
      Buscar Números Sorteados
    </button>
  </div>

  <div *ngIf="drawResults.length > 0" class="mt-8">
    <h4 class="text-xl font-semibold">Números Sorteados e Usuários Correspondentes:</h4>
    <ul class="list-disc pl-5 mt-2">
      <li *ngFor="let result of drawResults">
        Número sorteado: {{ result.number }} - Posição: {{ result.position }} - Usuário: {{ result.user?.id || '' }} - {{ result.user?.name || 'Nenhum usuário' }}
      </li>
    </ul>
  </div>

  <div *ngIf="users.length" class="mt-8">
    <h3 class="text-2xl font-semibold text-gray-800">Usuários Registrados</h3>
    <ul class="list-disc ml-6 mt-4 space-y-2 text-gray-700">
      <li *ngFor="let user of users" class="text-lg">
        <span class="font-medium text-gray-900">{{ user.id }} - {{ user.name }}</span>
        <span class="text-sm text-gray-500">- Números da Sorte: {{ user.luckyNumbers | json }}</span>
      </li>
    </ul>
  </div>
</div>