<div class="container">
  <h2>Buscar Números da Sorte</h2>

  <div>
    <label for="userId">ID do Usuário: </label>
    <input class="text-center" type="text" id="userId" [(ngModel)]="id" placeholder="Digite o ID do usuário" />
    <button class="button cursor-pointer rounded-md bg-green-500 p-2" (click)="getUserNumbers()">Buscar Números</button>
  </div>

  <!-- Exibir erros -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Exibir sucesso -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <!-- Lista de Números da Sorte -->
  <div *ngIf="userNumbers.length > 0">
    <h3>Números da Sorte:</h3>
    <ul>
      <li *ngFor="let item of userNumbers; let i = index">
        <strong>{{ item.month }}: </strong>
        <input type="number" [(ngModel)]="userNumbers[i].number" readonly />
      </li>
    </ul>

    <button class="button cursor-pointer rounded-md bg-green-500 p-2" (click)="updateUserLuckyNumber()">Atualizar Números</button>
  </div>

  <div *ngIf="userNumbers.length === 0" class="alert alert-warning">
    Nenhum número da sorte encontrado para este usuário.
  </div>
</div>
